# Flask
__pycache__/
instance/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.swo
*.bak